<form>
    <div class="container row">
        <div class="col-md-5 col-12">
            <a asp-action="Lipid" class="btn btn-outline-warning form-control">Lipid</a>
        </div>
        <div class="col-md-5 col-12">
            <a asp-action="LFT" class="btn btn-outline-warning form-control">LFT</a>
        </div>
    </div>
</form>
